In [1]:
import pandas as pd

In [2]:
path = './data/BABA历史数据.csv'
paths='./data/BABA.csv'

In [3]:
df = pd.read_csv(path)
df1=pd.read_csv(paths)

In [5]:
# 将数据逆置，以便对齐
df=df.iloc[::-1].reset_index(drop=True)

In [6]:
df

               日期   Close    Open    High     Low  Volume    rate
0     2019年12月31日  212.10  211.34  213.60  210.82   6.78M  -0.38%
1     2019年12月30日  212.91  214.33  214.40  211.76   8.75M  -1.19%
2     2019年12月27日  215.47  218.02  218.02  215.18  11.68M  -0.42%
3     2019年12月26日  216.38  214.65  216.99  214.33   6.92M   0.99%
4     2019年12月24日  214.26  215.01  215.43  213.35   5.52M  -0.27%
...           ...     ...     ...     ...     ...     ...     ...
1324   2014年9月26日   90.46   89.73   90.46   88.66  18.34M   1.73%
1325   2014年9月25日   88.92   91.09   91.50   88.50  28.60M  -1.82%
1326   2014年9月24日   90.57   88.47   90.57   87.22  32.09M   3.90%
1327   2014年9月23日   87.17   88.94   90.48   86.62  39.01M  -3.03%
1328   2014年9月22日   89.89   92.70   92.95   89.50  66.66M  -4.26%

[1329 rows x 7 columns]

In [55]:
df1

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-19,92.699997,99.699997,89.949997,93.889999,93.889999,271879400
1,2014-09-22,92.699997,92.949997,89.500000,89.889999,89.889999,66657800
2,2014-09-23,88.940002,90.480003,86.620003,87.169998,87.169998,39009800
3,2014-09-24,88.470001,90.570000,87.220001,90.570000,90.570000,32088000
4,2014-09-25,91.089996,91.500000,88.500000,88.919998,88.919998,28598000
...,...,...,...,...,...,...,...
1325,2019-12-24,215.009995,215.429993,213.350006,214.259995,214.259995,5523000
1326,2019-12-26,214.649994,216.990005,214.330002,216.380005,216.380005,6907100
1327,2019-12-27,217.990005,218.110001,215.169998,215.470001,215.470001,11674200
1328,2019-12-30,215.779999,215.779999,211.759995,212.910004,212.910004,8732600
1329,2019-12-31,212.000000,213.639999,210.729996,212.100006,212.100006,6773600

In [62]:
# 处理百分比数据
df['rate'] = df['rate'].str.strip('%').astype(float)/100

In [66]:
df

               日期   Close    Open    High     Low  Volume    rate
0      2014年9月22日   89.89   92.70   92.95   89.50  66.66M -0.0426
1      2014年9月23日   87.17   88.94   90.48   86.62  39.01M -0.0303
2      2014年9月24日   90.57   88.47   90.57   87.22  32.09M  0.0390
3      2014年9月25日   88.92   91.09   91.50   88.50  28.60M -0.0182
4      2014年9月26日   90.46   89.73   90.46   88.66  18.34M  0.0173
...           ...     ...     ...     ...     ...     ...     ...
1324  2019年12月24日  214.26  215.01  215.43  213.35   5.52M -0.0027
1325  2019年12月26日  216.38  214.65  216.99  214.33   6.92M  0.0099
1326  2019年12月27日  215.47  218.02  218.02  215.18  11.68M -0.0042
1327  2019年12月30日  212.91  214.33  214.40  211.76   8.75M -0.0119
1328  2019年12月31日  212.10  211.34  213.60  210.82   6.78M -0.0038

[1329 rows x 7 columns]

In [75]:
df1.reset_index(drop=True,inplace=True)

In [77]:
df1['rate'] = df['rate']

In [92]:
df1['label'] = high

In [60]:
# 删除无用行
df1.drop(0,axis=0,inplace=True)
# 删除后要重排索引
df1.reset_index(drop=True)

In [99]:
df1.fillna(float('213.639999'),inplace=True)

In [90]:
high.reset_index(drop=True,inplace=True)

In [106]:
df1.drop('Date',axis=1,inplace=True)

In [109]:
df1.to_csv('./data/BABAprocessed.csv',index=None)